.modal {
    position: fixed; /* Fijo en la pantalla */
    z-index: 1000; /* Colocado encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Habilita el desplazamiento si es necesario */
    background-color: rgba(0, 0, 0, 0.4); /* Fondo semi-transparente */
  }
  
  /* Contenido del modal */
  .modal-content {
    background-color: #fff; /* Fondo blanco */
    margin: 10% auto; /* Centrado vertical y horizontal */
    padding: 20px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    width: 80%; /* Ancho del 80% de la pantalla */
    max-width: 500px; /* Ancho máximo de 500px */
    animation: fadeIn 0.3s ease-in-out; /* Animación de aparición */
  }
  
  /* Botón de cierre */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease; /* Transición de color */
  }
  
  .close:hover,
  .close:focus {
    color: #333; /* Cambia el color al pasar el mouse */
  }
  
  /* Título del modal */
  .modal-content h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: 600;
  }
  
  /* Párrafo del modal */
  .modal-content p {
    font-size: 16px;
    line-height: 1.6;
  }


  
  /* Animación de aparición del modal */
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
  }